<div class="container" style="margin-top: 20px">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4>Upload and Download Files</h4>
    </div><br>
    <div class="panel-body">
      <strong>Select files from your computer</strong>
      <!-- *ngIf="fileStatus.status ==='progress'" -->
      <div *ngIf="fileStatus.status ==='progress'">
        <div class="progress">
          <div [style.width.%]="fileStatus.percent" class="progress-bar progress-bar-animated bg-info" role="progressbar" aria-valuenow="">
              <i> {{ fileStatus.requestType }} {{ fileStatus.percent }}</i>
          </div>
        </div>
      </div> <hr>

      <form enctype="multipart/form-data" style="padding: 5px">
        <fieldset>
          <div class="form-group">
            <div>
              <input type="file" (change)="onUploadFiles($event.target.files)" name="files" id="files" multiple class="form-control">
            </div>
          </div>
        </fieldset>
      </form>
      <br>

      <div *ngIf="fileNames?.length > 0" class="js-upload-finished">
        <h3>Processed Files</h3>
        <div *ngFor="let fileName of fileNames" class="list-group">
          <a (click)="onDownloadFile(fileName)" class="list-group-item list-group-item-success" style="cursor: pointer;">
            {{ fileName }}
            <a class="alert-success float-right">Download</a>
          </a><br>
        </div>
      </div>


    </div>
  </div>
</div>